    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 left-section">
          <div class="well profile-card">
              <div class="profile-background">

              </div>
              <div class="row profile">
                  <div class="profile-image">
                    <% if current_user.avatar.blank? == false %>
                      <%= image_tag current_user.avatar.url, size:40, class: "img img-circle" %>
                    <% end %>
                  </div>
                  <div class="profile-name">
                    <h3><%= current_user.name %></h3>
                    <p>@<%= current_user.username %></p>
                  </div>
              </div>
              <div class="row followers">
                  <table>
                    <tr>
                      <th>Tweets</th>
                      <th>Following</th>
                      <th>Followers</th>
                    </tr>
                    <tr>
                      <td><%= current_user.tweets.count%></td>
                      <td><%= current_user.following.count%></td>
                      <td>72</td>
                    </tr>
                  </table>
              </div>
          </div>
          <div class="panel">
            <div class="well">
              <h2>Trends</h2>
                
            </div>
          </div>
        </div>

        <div class="col-lg-6 main-section">
          <div class="well feed-form">
              <p>
                <%= render '/tweets/form', tweet: @tweet %>
              </p>
          </div>

          <% @following_tweets.reverse_each do |tweet| %>
            <div class="well">
              <p>
                <% if tweet.user.avatar.blank? == false %>
                  <%= image_tag tweet.user.avatar.url, size:30, class: "img img-circle" %>
                <% end %>
                <% tweet.user.name %>
                <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id)%>
                • <%= time_ago_in_words(tweet.created_at) %>
              </p>
              <p><%= tweet.message.html_safe %></p>
              <p class="response"><i class="fa fa-comment-o" aria-hidden="true"></i> <i class="fa fa-retweet" aria-hidden="true"></i> <i class="fa fa-heart-o" aria-hidden="true"></i>
 <i class="fa fa-envelope-o" aria-hidden="true"></i>
</p>
            </div>
          <% end %>
        </div>



        <div class="col-lg-3 right-section">
          <div class="panel panel-body">
            <h2>Who to Follow</h2>
            <ul>
              <li>Profile</li>
              <li>Profile</li>
              <li>Profile</li>
            </ul>
          </div>

          <div class="panel panel-body">
            <h2>Live Video</h2>
            <p>embedded video</p>
          </div>

          <div class="panel panel-body">
            <p>legal stuff</p>
          </div>
        </div>
      </div>

    </div>
